body {
  margin: 0;
  overflow: hidden;
  background: black;
}
/* CONTAINS BOTH CANVAS AND BUTTONS */
.container {
  position: relative;
  width: 100vw;
  height: 100vh;
}
/* FALLING TEXT BACKGROUND */

canvas {
  position: absolute; /* MAKE CANVAS A BACKGROUND LAYER */
  top: 0;
  left: 0;
  z-index: 0; /* PUSH CANVAS TO BACKGROUND - 3D ABILITY*/
}

/* PILLS */
.pill-container {
  position: absolute;
  z-index: 1;
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0; /* ON LOAD STAY HIDDEN */
  visibility: hidden;
  transition: opacity 3s ease;
}

.pill-container.visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 3s ease;
}
.pill-container.blue {
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
}
.pill-container.red {
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
}

.pill-container img {
  width: 100%;
  height: auto;
  transition: transform 0.2s ease;
  box-shadow: 0 0 20px rgba(0, 255, 0, 0.5);
  transition: all 0.2s ease;
  border-radius: 100px;
}
.pill-container:hover img {
  transform: scale(1.4);
  transition: transform 0.2s ease;
  box-shadow: 0 0 30px rgba(0, 255, 0, 0.8); /* Stronger glow on hover */
  transform: scale(1.1); /* Optional scaling effect */
  opacity: 1;
  filter: brightness(1) contrast(1.5); /* Enhance visibility */
}
